.navbar-default {
    background-color: #252b33;
    max-height: 50px;
}
.navbar-brand {
  color: white;
}
li a {
  color: white;
}
li a:hover {
    background-color: white;
    color: black;
}
li a[tabindex]:active {
    background-color: #101010;
    color: white;
    outline: none;
}
.caret {
  border-width: 5px;
  border-bottom-width: 0;
}
.caret:hover {
  color: black;
}
.navbar-brand:hover {
  color: white;
}
ul#mobile {
  display: none;
  position: relative;
}
@media (max-width: 790px) {
   ul#mobile { display: inline-block; }
}
.navbar-nav>li, .navbar-header{
  float: left;
  left: 25px;
}
