.navbar-default {
    background-color: #252b33;
}
.navbar-brand {
  color: white;
}
li a {
  color: white;
}
li a:hover {
    background-color: white;
    color: black;
}
li a:active {
    color: blue;
}
li a[tabindex]:focus {
    color:white;
    outline: none;
}
.caret {
  border-width: 5px;
  border-bottom-width: 0;
}
.caret:hover {
  color: black;
}
.navbar-brand:hover {
  color: white;
}
