.container-fluid {
  padding: 5px;
  background-color: #151515;
  color: white;
  text-align: left;
  text-align: center;
  border-radius: 2px;
  border: 1px solid black;
}
img {
  position: absolute;
  align-content: center;
  bottom: 0;
  right: 0;
}
